<aside id="cta" class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
<!-- Begin MailChimp Signup Form -->
            <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">

            <div id="mc_embed_signup">
            <form action="https://thehackingproject.us18.list-manage.com/subscribe/post?u=5eb7fc76bc5dd324204a9f5c1&amp;id=5a6f0ccd6b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll"></div>
                <label for="mce-EMAIL">Get started now </label>
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5eb7fc76bc5dd324204a9f5c1_5a6f0ccd6b" tabindex="-1" value=""></div>&nbsp; &nbsp;
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default btn-m"></div>
                </div>
            </form>
        </div>

<!--End mc_embed_signup-->
        </div>
    </div>
</aside>

