
<div class="center jumbotron">
<div class="container">
<h1><div class="text-center">Index des rumeurs</h1> 
			
<p><div class="text-center">Le pseudo</p><br><br>		
<p><div class="text-center">La rumeur</p>
			
		

