<h1>Nouveau Gossip</h1>



<%= form_tag gossips_path, method: "post" do %><br>
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <textarea placeholder="dis-nous tout.."></textarea></br>
    <input class="summit" type="submit" value="Envoyer">

<%end%>
